{% extends 'home/index.html.twig' %}

{% block title %}Créer votre compte{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/book.css') }}">
    
{% endblock %}

{% block body %}

{% include 'partials/navbar.html.twig' %} 

    <div class="form-group my-5">
         
      <div class="mt-3 d-flex flex-column justify-content-center">

      <h1 class="mb-4">Créer votre compte</h1>

              {{ form_start(registrationForm) }}
                      {{ form_row(registrationForm.email) }}
                      {{ form_row(registrationForm.firstname) }}
                      {{ form_row(registrationForm.lastname) }}
                      {{ form_row(registrationForm.numberOfGuests) }}
                      {{ form_row(registrationForm.allergy) }}
                      {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
                      <p id="password-message"></p>
                      <div class="custom-checkbox">
                          {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': 'custom-checkbox-input'} }) }}
                          {{ form_label(registrationForm.agreeTerms, null, { 'label_attr': {'class': 'custom-checkbox-label'} }) }}
                      </div>


                      <div class="text-center mt-3">
                          <button type="submit" class="btn btn-outline-primary btn-lg px-5">S'inscrire</button>
                      </div>
                      
              {{ form_end(registrationForm) }}
      </div>
    </div>

    {% include 'partials/footer.html.twig' %} 

    <script src="{{ asset('js/regex.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}




