{% extends 'home/index.html.twig' %}

{% block title %}La carte{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dish.css') }}">
{% endblock %}

{% block body %}

{% include 'partials/navbar.html.twig' %} 

{% if photo %}
            <div class="container-fluid featured-photo">
                <img src="{{ asset('uploads/photos/' ~ photo.imagePath) }}" 
                     class="img-fluid"
                     alt="{{ photo.title }}" 
                     title="{{ photo.title }}">
                <div class="photo-title" style="display:none">{{ photo.title }}</div>
            </div>
        {% else %}
            <p>No photo found.</p>
        {% endif %}

  <div class="menu-wrapper">
    <h1 class="menu-title">La carte du restaurant</h1>
    <div class="menu-items">
        {% for dish in dishes %}
            <div class="menu-item">
                <h3 class="dish-title">{{ dish.title }}</h3>
                <p class="dish-description">{{ dish.description|raw }}</p>
                <p class="dish-price">Price: {{ dish.price }}</p>
            </div>
        {% endfor %}  
    </div>
</div>

{% include 'partials/footer.html.twig' %} 

<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
